/* BASE.CSS                                                             */
/* Cette feuille contient:                                              */
/* - les styles associes au code genere par SPIP 2.0                    */
/* - les styles des formulaires de SPIP 2.0                             */
/* - les styles de la pagination SPIP                                   */
/* - les styles generaux propres au squelette                           */
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* 	Styles de Typographie generale generes par SPIP (spip_styles.css)   */
/* -------------------------------------------------------------------- */
strong {font-weight: bold;}
em {font-style: italic;}

/* Titraille / Intertitres */
h3.spip {
	font-weight: bold;	font-size: 1.3em; margin: 2em 0 0.5em 0; text-align: left; line-height: 1.1em;
	color: #5b7a36;}
hr.spip {} /*Cf.: spip_style.css*/

/* Listes SPIP */
/* -- Puces generees par un tiret suivant d'un ou plusieurs asterisques (ex: -* blabla...) */
/* -- Ces puces sont incluses dans une balise <ul class="spip"> et le code de chaque item est <li class="spip"> */
ul.spip {padding: 0; margin: 5px 0 10px 20px;}
ul.spip li {list-style-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/puce-n0.gif); padding: 0; margin: 5px 0 0 0; line-height: 1.4em;}
ul.spip ul.spip li {list-style-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/puce-n1.gif); line-height: 1.4em;}
ul.spip ul.spip ul.spip li {list-style-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/puce-n2.gif); line-height: 1.4em;}
/* -- Puces generees par un tiret suivant d'un ou plusieurs diese (ex: -# blabla...) */
/* -- Ces puces sont incluses dans une balise <ol class="spip"> et le code de chaque item est <li class="spip"> */
ol.spip {padding: 0; margin: 5px 0 10px 20px;}
ol.spip li {list-style-type: decimal; list-style-image: none; list-style-position: outside;	padding: 0; margin: 5px 0 0 0; line-height: 1.4em;border:none;}
ol.spip ol.spip li {list-style-type: decimal; line-height: 1.4em;}
ol.spip ol.spip ol.spip li {list-style-type: decimal; line-height: 1.4em;}

/* Citations, code et poesie */
/* -- Citations et poésie */
blockquote.spip {
	display: block; padding: 0 1em; font-style: italic; overflow: auto;
	border-left: 4px solid #6B4F2E;
	color: #000000;
	background: #eeeeee;}
blockquote.spip_poesie {font-family: inherit; border: 0; line-height: 1.2em;}
blockquote.spip_poesie div {} /*Cf.: spip_style.css*/
/* -- Code et cadre y compris la prise en compte du plugin Coloration Code */
.spip_code {display: inline; font-family: Courier, "Courier New", monospace; font-size: 1em;
	color: #C39F73;}
div.spip_code, .coloration_code .code {
	display: block; padding: 0 1em; margin: 1em 0; font-family: Courier, "Courier New", monospace; font-size: 1.2em; line-height:1.5em; overflow: auto; max-height: 25em;
	border-left: 4px solid #C39F73;
	color: #000000;
	background: #eeeeee;} 
.coloration_code .code {font-size: 1em;} 
.coloration_code .code_download {margin-bottom: 1em;} 
.spip_cadre, .coloration_code .cadre {border: 0; padding: 0.5em 1em; width: 95%; font: inherit;
	border-left: 4px solid #772d0e; 
	color: #000000;
	background: #eeeeee;}

/* Surlignage */
.spip_surligne {} /*Cf.: spip_style.css*/

/* Tableaux */
table.spip {font-size: 1em; border-color: transparent; line-height: 1.4em; border-collapse: inherit; border-spacing: 2px; margin-bottom: 1em;} 
table.spip caption {} /*Cf.: spip_style.css*/
table.spip tr.row_first {text-align: center;
	color: #ffffff;
	background: #5b7a36;}
table.spip tr.row_odd {background: #e2ebd6; color: inherit}
table.spip tr.row_even {background: #eeeeee; color: inherit}
table.spip td, table.spip th {padding: 0 10px}
table.spip th {border : none;} 
table.spip td {border : none;} 

/* Logos, documents et images */
img, .spip_logos {} /*Cf.: spip_style.css*/
.spip_documents {} 
.spip_documents_center {} /*Cf.: spip_style.css*/
.spip_documents_left {margin: 5px 15px 5px 0;} /*Cf.: spip_style.css*/
.spip_documents_right { margin: 5px 0 5px 15px;} /*Cf.: spip_style.css*/
.spip_doc_titre {} /*Cf.: spip_style.css*/
.spip_doc_descriptif {} /*Cf.: spip_style.css*/

/* modeles par defaut */
.spip_modele {}  /*Cf.: spip_style.css*/

/* Couleurs des liens de SPIP */
a {text-decoration:none; display: inline; padding: 0; color: #6B4F2E;}	
a.spip_note {color: #6B4F2E;} /* liens vers notes de bas de page */
a.spip_ancre {color: #6B4F2E;} /* liens internes a la page */
a.spip_in {color: #6B4F2E;} /* liens internes */
a.spip_out {color: #6B4F2E; background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/lien_out.gif) right center no-repeat; padding-right: 14px;} /* liens sortants */
.img_out a.spip_out {background: none;} /* liens sortants de type image : ajouter class=img_out dans les modeles */
a.spip_mail {color: #6B4F2E; background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/lien_mail.gif) right center no-repeat; padding-right: 14px;}
a.spip_mail:before {content: "";} /* liens vers un email */
a.spip_url {color: #6B4F2E; background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/lien_out.gif) right center no-repeat; padding-right: 14px;} /* liens url sortants */
a.spip_glossaire {color: #6B4F2E;} /* liens vers encyclopedie */
a.spip_glossaire:hover {color: #5b7a36; text-decoration: underline;}
a:hover {text-decoration: underline; color: #5b7a36;}
.on {} /* liens exposes */

/* -------------------------------------------------------------------- */
/* 	Styles de la pagination generes par SPIP                            */
/* -------------------------------------------------------------------- */
.pagination {margin: 30px 0; padding: 0; font-size: 1.2em; text-align: right; text-decoration: none;
	color: #2e4d28;}
.pagination .on {
	display:inline; padding: 2px 5px 0; font-weight: bold;
 	background: #C39F73; 
	color: #6B4F2E;
	text-decoration: none;}
.pagination a {
	display:inline; padding: 2px 5px 0; 
	background: transparent; 
	color: #2e4d28;}
.pagination a:hover {
	background: #6B4F2E; 
	color: #5b7a36;
	text-decoration: none;}
.pagination a.ancre {display:none;}

/* -------------------------------------------------------------------- */
/*  Styles des formulaires SPIP                                         */
/* -------------------------------------------------------------------- */
input, textarea, select { font-size: 100%; font-family: inherit; }

/* Structure generale des formulaires */
.formulaire_spip {clear: both; margin-bottom: 30px; padding: 1em; border: 0; text-align: left; font-size: 1.2em; 
	background: #e2ebd6;
	color: #4f5154;}
.formulaire_spip form { margin: 0; padding: 0; } /* Bug IE/Win */
.formulaire_spip .bugajaxie { display: none; } /* Bug IE/Win */

/* - Fieldset */
.formulaire_spip fieldset { clear: both; margin: 0 0 1em 0; padding: 0; border: 0; }
.formulaire_spip fieldset legend { margin: 0 0 10px; padding: 0; line-height: 1.2; font-size: 1.55em; font-weight: bold; 
	background: #e2ebd6;
	color: #6B4F2E; } /* Preciser la couleur des legend pour IE/Win */
.formulaire_spip fieldset fieldset { margin-top: 1em; }
.formulaire_spip fieldset fieldset legend { font-size: 1em; font-weight: normal; }

/* - Explications */
.formulaire_spip .explication { margin: 0.50em 0; color: #4f5154; }

/* - Lignes */
.formulaire_spip ul { margin: 0; padding: 0; list-style: none; }
.formulaire_spip ul li { clear: both; margin: 0; padding: 0.50em 0; }
.formulaire_spip ul li.multi_critere{width: 50%; float: left;}

/* - Labels */
.formulaire_spip label { margin-bottom: 3px; display: block; text-align: left; font-weight: bold; /* for IE */ position: relative; 
	color: #5b7a36; }
.formulaire_spip li p { margin-top: 0; margin-bottom: 0; }

/* - Champs de saisie */
.formulaire_spip input.text {padding: 0.2em 0; width: 99%; background: #e2ebd6;  border: 2px solid #C39F73;}
.formulaire_spip textarea {padding: 0.2em 0; width: 99%; background: #e2ebd6;  border: 2px solid #C39F73;}
.formulaire_spip select { width: 99%; }

/* - Boutons */
.formulaire_spip .boutons { clear: both; margin: 0; padding: 0; text-align: right; }
.formulaire_spip .boutons input { margin-left: 1em; }
.formulaire_spip .boutons input, input.submit {}

/* Reponses, previsu et erreurs */
/* - Champs obligatoires */
.formulaire_spip li.obligatoire {}
.formulaire_spip li.obligatoire label { font-weight: bold; }

/* - Previsualisation du message */
.formulaire_spip fieldset.previsu { margin-bottom: 2em; padding: 1em; 
	background: #e2ebd6;
	border: 2px dashed #5b7a36; }
.formulaire_spip fieldset.previsu legend { padding: 0 0.50em; color: #5b7a36; font-weight: bold; }
.formulaire_spip fieldset.previsu li { padding: 3px; border: none; color: #000000}
.formulaire_spip fieldset.previsu .boutons input {}

/* - Reponse du formulaire */
.reponse_formulaire { font-weight: bold; color: #e86519; font-size: 1.20em; }
fieldset.reponse_formulaire { border-color: #e86519; font-weight: normal; }
fieldset.reponse_formulaire.reponse_formulaire legend { color: #F57900; } /* Preciser la couleur des legend pour IE/Win */

/* - Erreurs */
.formulaire_spip li.erreur .erreur_message { display: block; color: red; font-weight: bold; }
.formulaire_spip li.erreur input.text, .formulaire_spip li.erreur textarea { background-color: #FCC; border-style: solid; border-color: red; }
.reponse_formulaire_erreur { margin: 0; color: red; font-weight: bold; }

/* - OK */
.reponse_formulaire_ok { margin: 0; color: #53AD20; font-weight: bold; }

/* Variantes et cas particuliers */
/* - Barre de raccourcis typographiques */
table.spip_barre { width: 100%; }
table.spip_barre a img { background: #f5f5f5; padding: 3px; border: 1px solid #cccccc; margin-right: 1px; }
table.spip_barre a:hover img { background: #ffffff; border: 1px solid #888888; }
table.spip_barre input.barre { width: 99%; background: transparent; border: 0; color: #4f5154; }

/* - Formulaire de forum */
.formulaire_forum .saisie_titre input.text { width: 99%; }

/* - Login */
.formulaire_spip input.text#var_login {width: 40%;}
.formulaire_spip input.password {padding: 0.2em 0; width: 40%; background: #e2ebd6;  border: 2px solid #C39F73;}

/* - Selection des langues */
.formulaire_menu_lang { margin: 0; padding: 1em; background: none; width: 40%;}

/* - Formulaires de contact */
.formulaire_ecrire_auteur fieldset legend {padding-left: 20px; background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/formulaire_mail.gif) top left no-repeat;}

/* - Formulaires de recherche */
.formulaire_recherche {margin: 0 0 0 10px; padding: 0; background: none; width : 158px; }
.formulaire_recherche form {margin: 0;}
.formulaire_recherche label {display: none !important; }
.formulaire_recherche input{margin : 0; clear:none; }
.formulaire_recherche input.text {width: 115px; float:left; margin:0 2px 1px 0; height:17px; padding: 0;
	background: #e2ebd6;
	border: 1px solid #C39F73;}
.formulaire_recherche input.submit {padding: 0 2px; font-size:1.1em;}


/* -- specificite du formulaire dans la noisette recherche */
.contenu .formulaire_recherche {display : block; padding: 0 0 5px 0;}

/* -- specificite du formulaire de recherche dans le bandeau --*/
.recherche_chemin{font-size:1.2em;}
.recherche_chemin #formulaire_recherche {background:transparent; display:block; float:right; margin:0; padding:0; width:160px; font-size:1em;}
.recherche_chemin .formulaire_recherche input.text{margin-top:1px; padding: 0; 
	background: #e2ebd6;
	border: 1px solid #C39F73;}
.recherche_chemin .formulaire_recherche input.submit {cursor: pointer;}
.recherche_chemin span{float:right; margin: 5px 5px 0 20px;}

/* -- formulaires de recherche des moteurs externes a SPIP */
.moteur {margin: 2px 0 0 10px;} 

/* -- formulaire de la shoutbox */
#contenu_shoutbox_dialogue {margin: 0 0 20px; padding: 5px; line-height:1.1em;
	background: #e2ebd6;
	border: 2px solid #C39F73;}

/* Choix des mots-clefs */
ul.choix_mots { display: block; margin: 0; padding: 0; list-style: none; }
ul.choix_mots li { clear: none; float: left; display: block; width: 30%; padding: 1%; }
ul.choix_mots li label { display: inline; font-weight: normal; }

/* -- Boutons d'admins et minibando -- */
#spip-admin { right: 400px; }

/* -------------------------------------------------------------------- */
/* 	Styles generaux specifiques au squelette                            */
/* -------------------------------------------------------------------- */
/* Typographie par defaut du squelette */
h1 {font-size: 2em; line-height: 1.2em;}
p {margin: 0 0 10px;}

/* Les logos des articles, rubriques... */
.logo img {margin: 0;}
.gauche {float: left; margin: 0 10px 5px 0;}
.droite {float: right; margin: 0 0 5px 10px;}

/* Nettoyage de float */
.nettoyeur{ clear: both; height: 0; margin: 0; padding: 0; border: 0; line-height: 1px; font-size: 1px; }
.nettoyeur_droite {clear: right;}
.nettoyeur_gauche {clear: left;}/* LAYOUT.CSS                                                           */
/* Cette feuille contient:                                              */
/* - les styles de surcharge des layout Gala pour le squelette          */
/* -------------------------------------------------------------------- */

/* Correspond a une taille de 16px dans la plupart des navigateurs */
html {font-size: 100%;}
/* correspond a une taille de 10px car 10px/16px = 0,625 */
body {
	padding: 0; 
	font: 0.625em/1em Helvetica,Verdana,Arial,sans-serif; 
	color: #4f5154;
	background: #6d9735 url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_body.jpg) center 0px no-repeat  fixed;
}

#header {padding: 0 0 10px;}
div#header h1{margin: 0; padding-left: 0; height: auto; line-height: 1.12em; color: transparent; background: none;}
div#footer{padding: 30px 0 0; color: transparent; background: none; line-height: 1.12em;}
div#navigation{width: 180px; background: none;}
div#extra{width:180px; background: none;} 
div#container{background: #ffffff url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_site.jpg) 0px 270px repeat-x; 
}  

/* Pour les layouts a largeur variable*/


/* Pour les layouts a largeur fixe 3 colonnes*/


/* Pour les layouts a 2 colonnes*/
 
	  body{text-align:center}
		div#container{width:1024px; margin:0 auto;}
		
		
		  
		  		  
		
		
	  
	  #wrapper{zoom:normal;}
		div#navigation{margin-left:20px ;}
		div#extra     {margin-left:20px ;}
		div#content{
      width:764px ;
      margin-right:20px ;
    }/* BANDEAU.CSS                                                          */
/* Cette feuille contient:                                              */
/* - les styles de la partie haute du bandeau                           */
/* - les styles de la partie basse du bandeau                           */
/* - les styles du chemin du bandeau                                    */
/* - les styles de la partie haute du pied de page                      */
/* - les styles de la partie basse du pied de page                      */
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* 	Styles du bandeau - partie haute                                    */
/* -------------------------------------------------------------------- */

/* Structure generale du bandeau haut */
.bandeau_haut {
	padding: 0 10px 0; min-height: 200px;
	background: #ffffff url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/squelettes/images/bg_bandeau_haut.jpg) top center no-repeat ;}

/* Navigation: liste des langues et raccourcis */
.nav_bandeau{float: right; min-width: 150px; max-width: 45%; color: #2e4d28; font-size: 1.2em; padding-top:10px;}
.nav_raccourci, .nav_langue {margin-right: 5px; text-align: right;}
.nav_langue {line-height: 1.6em;}
.nav_langue ul, .nav_raccourci ul {padding: 0 5px 0 0; margin: 5px 0; line-height: 1em;}
.nav_langue li, .nav_raccourci li  {display: inline; list-style: none;}
.nav_langue li a, .nav_raccourci li a {color: #2e4d28; text-decoration: none; padding: 0 2px 0 2px;}
.nav_langue li a:hover, .nav_raccourci li a:hover {color: #772d0e; text-decoration: none;}
.nav_langue li.on {font-size: 1.25em; font-weight: bold;}
.nav_raccourci li.auteur a {font-weight: normal;}
.raccourci_bandeau {} /* sert uniquement a faire le pendant de la structure des raccourcis dans la colonne navigation */

/* Logo, titre et slogan du site */
.site_logo {margin: 10px 20px 10px 10px; float: left;}
.site_nom  {padding: 10px 0 0 10px; overflow: visible !important /*Firefox*/; overflow :hidden /*IE6*/;}
.site_nom h1 {}
.site_nom h1 a {color: #2e4d28; text-decoration: none;}
.site_nom h1 a:hover {color: #772d0e; text-decoration: none;}
.site_nom h2 {font-size: 1.3em; line-height: 1em; margin: 0; color: #2e4d28; display: inline;}

/* -------------------------------------------------------------------- */
/* 	Styles du bandeau - partie basse                                    */
/* -------------------------------------------------------------------- */
.bandeau_bas {
	min-height: 50px; 
	background: #ffffff url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_bandeau_bas.png) bottom repeat-x;
  text-align:left;}
	
a .bandeau_bas  {display:inline;}

/* -------------------------------------------------------------------- */
/* 	Styles du bandeau - chemin                                          */
/* -------------------------------------------------------------------- */
.bandeau_chemin {
	min-height:22px; margin-bottom: 20px; color: #f2f5d6; padding: 0 15px;
	background: #5b7a36 url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_chemin.jpg);
	height:auto;line-height:1.4em;
	}
.bandeau_chemin .recherche_chemin {width: auto; float: right;}
.bandeau_chemin a {padding: 0 5px 0 10px; color: #f2f5d6;}
.bandeau_chemin a:hover {color: #BE420D; text-decoration: underline;}
.chemin {padding-top: 5px; font-size:1.2em;}

/* Surcharge des boutons du plugin Boutons dans le Texte */
.textsizeup, .textsizedown, .textonly {float: right; margin: 0 5px 0 0; padding: 0; border: 0;}
.textsizeup:hover, .textsizedown:hover {}
.textonly {display: none}

/* -------------------------------------------------------------------- */
/* 	Styles du pied de page - partie haute (non disponible)              */
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* 	Styles du pied de page - partie basse                               */
/* -------------------------------------------------------------------- */
.pied_bas { font-size: 1.2em; 
	min-height: 50px;
	padding: 10px 20px 10px;
	text-align: center;
	background: #ffffff url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_pied_bas.png) top center no-repeat;
	color: #6B4F2E;
	}
.pied_bas .copyright {margin: 0 0 5px;}
.pied_bas .credits {margin: 0 0 5px;}
.pied_bas a {color: #6B4F2E; text-decoration: none;}
.pied_bas a:hover {color: #5b7a36; text-decoration: underline;}/* NOISETTES.CSS                                                        */
/* Cette feuille contient:                                              */
/* - les styles des noisettes des colonnes extra et navigation          */
/* - les styles des menus verticaux et horizontaux                      */
/* -------------------------------------------------------------------- */

/* Initialisation des variables permettant de déterminer un alignement à droite ou à gauche */

 
	





/* Noisettes pouvant etre inserees dans les colonnes extra et navigation */
/* Styles generiques */
.noisette {margin-bottom: 15px; color: #C39F73;}

.noisette h1, h2, h3 {margin: 0; font-size: 1em;}
.noisette h1.intitule, .noisette h1 a.intitule {
	display: block;	margin-bottom: 10px; font-weight: bold; font-size: 1.5em; text-align: center; line-height:1.2em;
	border: 1px solid #FFFFFF;
	background: #FFFFFF url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_noisette_titre.png)  center center no-repeat;
	color: #2e4d28;
	padding : 2px 0;}
.noisette h1 a.intitule:hover {
	background: #FFFFFF url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_hover_noisette_titre.png)  center center no-repeat;
	color: #6B4F2E; 
	text-decoration: none;}

.noisette .contenu {margin-bottom: 5px; padding: 0; 
		border: 1px solid #FFFFFF;
		background: #FFFFFF;}
.noisette .contenu.mixte {padding: 5px 0 0;}
.noisette .contenu.mixte .pagination {padding: 5px 0 0;}
.noisette .contenu h2.titre_bloc,
.noisette .contenu h2 a.titre_bloc {
	display: block;	margin: 0; padding: 1px; font-size: 1.25em; line-height: 1.5em; font-weight: bold; text-align: center;
	border-bottom: 1px solid #FFFFFF;
	background: #FFFFFF url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_noisette_soustitre.png) top center no-repeat;
	color: #6B4F2E;}
.noisette .contenu h2 a.titre_bloc:hover {
	background: #FFFFFF url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_hover_noisette_soustitre.png) top center no-repeat;
	color: #f2f5d6; 
	text-decoration: none;}

.noisette .contenu .liste ul {margin: 0; padding: 0;}
.noisette .contenu .liste ol {margin: 0; padding: 0 5px;}
.noisette .contenu .liste ol li {list-style: decimal inside;}
.noisette .contenu h2.titre, .noisette .contenu h2 a.titre, .noisette .contenu .liste li .titre {
	display: block; padding: 0 0 5px 10px; margin: 0 5px;	font-weight: bold; text-decoration: none;
	color: #C39F73;
	background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/puce-n0.gif) left top no-repeat;}
.noisette .contenu .liste ol li .titre {background: none; display: inline; margin:0; padding: 0;}
.noisette .contenu h2 a.titre:hover, .noisette .contenu .liste li a.titre:hover{
	color: #6B4F2E;
	text-decoration: underline;}
.noisette .contenu .liste li span.titre {color: #000000;} /* A REVOIR */

.noisette .contenu .date_bloc {
	margin-left: 30%; padding: 1px; font-size: 0.9em; text-align: center;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;}

.noisette .contenu div.introduction, .noisette .contenu a.introduction {
	display: block;	margin: 0 5px; padding:0 0 5px 10px;	
	color: #C39F73;}
.noisette .contenu a.introduction:hover{
	color: #6B4F2E;
	text-decoration: underline;}
.noisette .contenu div.introduction * {margin: 0;}

.noisette .contenu .liste {margin: 0;	padding: 5px 0;}
.noisette .contenu .texte {margin: 0; padding: 5px; line-height: 1.1em;}
.noisette .contenu .texte p {margin:0.7em 0em; padding:0;}

.noisette .contenu .notes {margin: 0; padding: 5px; line-height: 100%; border-top: 1px solid #FFFFFF;}
.noisette .contenu .notes p {margin: 0;}

.noisette .contenu h3 {padding: 3px 0; line-height: 1.1em;}
.noisette .contenu  a {}
.noisette .contenu a:hover {}
.noisette .contenu strong {}
.noisette .contenu blockquote, .noisette .contenu code {margin : 2px;}

/* Styles specifiques pour la pagination dans les noisettes */
.noisette .pagination {margin: 0 5px 5px; font-size: 1em;}

/* Styles specifiques pour l'herbier */
#noisette_herbier.noisette .contenu .texte {text-align: center;}
#noisette_herbier.noisette .contenu .texte ul {width: 120px; margin: 0 auto;}

/* Styles specifiques pour les statistiques */
#noisette_statistiques.noisette .contenu .texte {text-align: center;}

/* Styles specifiques pour la navigation des articles et rubrique mots-cles et categories */
#noisette_filtre.noisette .contenu h2.titre_bloc.bouton {border-bottom: 0;	
	background: #FFFFFF url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_hover_noisette_soustitre.png) top center no-repeat;
	color: #f2f5d6; 
	text-decoration: none;}

#noisette_filtre.noisette .contenu h2 a.titre_bloc.bouton {border-bottom: 0;}
#noisette_navigation.noisette .contenu .liste li .titre,
#noisette_filtre.noisette .contenu .liste li .titre,
#noisette_motscles.noisette .contenu .liste li .titre {
	display: block;
	padding: 0 0 5px 10px;
	margin: 0 5px;
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
}
#noisette_navigation.noisette .contenu .liste li span.titre,
#noisette_filtre.noisette .contenu .liste li span.titre,
#noisette_motscles.noisette .contenu .liste li span.titre {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/puce-n1.gif) left top no-repeat;}
#noisette_navigation.noisette .contenu .liste li a.titre,
#noisette_filtre.noisette .contenu .liste li a.titre,
#noisette_motscles.noisette .contenu .liste li a.titre {background-image: none;}
#noisette_navigation.noisette .contenu .liste li a.titre:hover,
#noisette_filtre.noisette .contenu .liste li a.titre:hover,
#noisette_motscles.noisette .contenu .liste li a.titre:hover {
	color: #6B4F2E;
	 background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/puce-n1.gif) left top no-repeat;
	text-decoration: underline;}

/* Styles specifiques pour les badges */
.noisette .badges a {display: block; margin: 2px 0; padding: 0; border: 0; width: 80px; height: 15px; float:left; clear: left; }
.noisette .badges a:hover {text-decoration: none;}
#logo_rss {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/badge_rss.png) no-repeat;}
#logo_rss:hover {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/badge_rss_hover.png) no-repeat;}
#logo_sarkaspip {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/badge_sarkaspip.png) no-repeat;}
#logo_sarkaspip:hover {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/badge_sarkaspip_hover.png) no-repeat;}
#logo_spip {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/squelettes/images/badge_spip.png) no-repeat;}
#logo_spip:hover {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/squelettes/images/badge_spip_hover.png) no-repeat;}
#logo_xhtml {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/badge_xhtml.png) no-repeat;}
#logo_xhtml:hover {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/badge_xhtml_hover.png) no-repeat;}
#logo_perso {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/squelettes/images/badge_perso.png) no-repeat;}
#logo_perso:hover {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/squelettes/images/badge_perso_hover.png) no-repeat;}

/* Styles specifiques pour le mini-agenda */
#noisette_miniagenda.noisette {overflow: hidden; width:180px}
#noisette_miniagenda.noisette .contenu table {table-layout: fixed; border-spacing:0; width:100% !important /*FF*/; width:178px /*IE*/; font-size: 1.1em; text-align: center;border-collapse:inherit;}
#noisette_miniagenda.noisette .contenu table thead {
	background: #FFFFFF;
	color: #2e4d28;}
#noisette_miniagenda.noisette .contenu table th {text-align: center; padding: 2px 0;}
#noisette_miniagenda.noisette .contenu table td {line-height: 1.1em; color: #C39F73}
#noisette_miniagenda.noisette .contenu table td.libre,
#noisette_miniagenda.noisette .contenu table td.occupe {background-color: #FFFFFF; border: 1px solid #FFFFFF;}
#noisette_miniagenda.noisette .contenu table td.horsperiode {
    background: #e2ebd6;
    border: 1px solid #e2ebd6;
	color: #C39F73;}
#noisette_miniagenda.noisette .contenu table td.today {font-weight: bolder;  
    background: transparent;
    border: 1px solid #C39F73;}
#noisette_miniagenda.noisette .contenu table td a {font-weight: bolder;}
#noisette_miniagenda.noisette .contenu table td a:hover {}

#noisette_miniagenda.noisette .contenu h2 a.titre_bloc {padding: 0 0; font-size: 1.2em;border-top: 1px solid #FFFFFF;}
#noisette_miniagenda.noisette .contenu h2.titre_bloc.centre,
#noisette_miniagenda.noisette .contenu h2 a.titre_bloc.bord {padding: 1px 0; border-top: 0;float: left;font-size: 1.2em;}
#noisette_miniagenda.noisette .contenu h2.titre_bloc.centre {width: 50%;}
#noisette_miniagenda.noisette .contenu h2 a.titre_bloc.bord {width: 25%;}

#noisette_miniagenda.noisette .contenu .texte {padding: 2px; border-top: 1px solid #FFFFFF;}
#noisette_miniagenda.noisette .contenu table#footer_evenements {padding: 2px 0; table-layout: fixed; border-top: 1px solid #FFFFFF; text-align: left; font-size: 1em;}
#noisette_miniagenda.noisette .contenu table#footer_evenements td{line-height:1.1em;}
#noisette_miniagenda.noisette .contenu table#footer_evenements td.footer_colg {padding: 1px; font-weight: bold;
	width: 37% !important /*FF*/;width: 66px /*IE*/;}
#noisette_miniagenda.noisette .contenu table#footer_evenements td.footer_cold {padding: 1px;
	width: 63% !important /*FF*/;width: 112px /*IE*/;}
#noisette_miniagenda.noisette .contenu table#footer_evenements td.footer_cold a {font-weight: normal; color: #C39F73;}
#noisette_miniagenda.noisette .contenu table#footer_evenements td.footer_cold a:hover {color: #6B4F2E;}

/* Styles specifiques pour la noisette Rainette */
#noisette_rainette.noisette .contenu .texte .maj {text-align: center;}
#noisette_rainette.noisette .contenu .texte .resume {text-align: center; font-size: 1.2em; font-weight: bold;margin: 10px 0}
#noisette_rainette.noisette .contenu .texte .resume ul{font-weight: normal; margin-top: 5px;font-size: 0.9em;}
#noisette_rainette.noisette .contenu .texte .resume li{}
#noisette_rainette.noisette .contenu .texte .temperature {font-size: 2em; font-weight: bold; margin: 0 5px;}
#noisette_rainette.noisette .contenu .texte .previsions {font-size: 1.3em;}
#noisette_rainette.noisette .contenu .texte .temperature img {float:left;}
#noisette_rainette.noisette .contenu .texte .temperature p {padding: 30px 0 0 90px;}
#noisette_rainette.noisette .contenu .texte .liens {text-align: center;}
.pave-prevision {overflow: hidden; float: left; width: 168px; height: 190px;}
.conteneur_selection {overflow: hidden; float: left; width: 168px; height: 190px;}

/* Styles specifiques pour la noisette Nuage de mots */
#noisette_nuage.noisette .contenu ul.nuage {padding:5px;}
#noisette_nuage.noisette .contenu ul.nuage a {color: #C39F73;}

/* Menus vertical des rubriques et raccourcis inseres dans les colonnes extra et navigation */
/* Navigation dans les rubriques - arborescence deroulante */
.menu_rub1 { padding: 0; font-size: 1.2em; text-align: left;}
.menu_rub1 ul.menulist,
.menu_rub1 ul.menulist ul {
	 background: #f5E3BF url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_menu.jpg) left center;
	 border: 1px solid #b7cf7a; 
	 border-bottom: 0;
	 list-style: none;
	 z-index: 500;
	 margin: 0;
	 padding: 0;
	 line-height:1.2em;
	 width:178px;}

.menu_rub1 ul.menulist ul {position: absolute; top: -1px;  left: 178px;}
.menu_rub1 ul.menulist li {position: relative; margin: 0; padding: 0; border-bottom: 1px solid #b7cf7a;}
.menu_rub1 ul.menulist li ul {display:none;}
.menu_rub1 ul.menulist li:hover>ul {display:block;}

.menu_rub1 ul.menulist a {
	 background: #f5E3BF url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_menu.jpg) left center;
	color: #5b7a36; text-decoration: none; display: block; padding: 5px;}

.menu_rub1 ul.menulist a:hover {
	background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_hover_menu.jpg) left repeat-y;
	color: #6B4F2E;
	text-decoration: none;}
.menu_rub1 ul.menulist li.smenu, .menu_rub1 ul.menulist li.smenu>a {
	 background: #f5E3BF url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_menu.jpg) left center;
	}
.menu_rub1 ul.menulist li.smenu:hover, .menu_rub1 ul.menulist li.smenu>a:hover {
	background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_hover_menu.jpg) left repeat-y;
	}
.menu_rub1 ul.menulist a.menu_articles {}
.menu_rub1 ul.menulist a.menu_articles:hover {}

/* Navigation dans les rubriques - arborescence depliee */
.menu_rub2 {font-size: 1.2em; border: 0; font-weight: normal;}
.menu_rub2 ul {margin: 0; padding: 0; list-style: none;}
.menu_rub2 ul li { margin: 0; padding: 0; border: 0; line-height: 1.3em;}
.menu_rub2 ul li a {
	display: block; width: 158px; margin-bottom: 0; padding: 5px 10px; 
	border: 1px solid #b7cf7a; border-top: 0;
	color: #5b7a36; 
	background: #f5E3BF url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_menu.jpg) left center;}

.menu_rub2 ul li a#m1 {border-top: 1px solid #b7cf7a;}
.menu_rub2 ul li ul li a {
	display: block; width: 148px; margin-bottom: 0; padding: 5px 10px 5px 20px; 
	color: #5b7a36; 
	background: #f5E3BF url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_menu.jpg) left center;}
.menu_rub2 ul li ul li ul li a {
	display: block; width: 138px; margin-bottom: 0; padding: 5px 10px 5px 30px; 
	color: #5b7a36; 
	background: #f5E3BF url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_menu.jpg) left center;}
.menu_rub2 a.on {
	background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_hover_menu.jpg) left repeat-y;
	color: #6B4F2E; font-weight: bold;}
.menu_rub2 a:hover {
	background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_hover_menu.jpg) left repeat-y;
	color: #6B4F2E; 
	text-decoration: none;}

/* Navigation dans les rubriques - arborescence accordeon a ouverture automatique */
.menu_rub3 {width: 100%; padding:0; font-size: 1.2em;}
.menu_rub3 .cache {padding-left:10%; width: 90%; background: none; display: none;}
.menu_rub3 .cache a {
	display: block; border-top: 1px solid #b7cf7a;
	background: #f5E3BF url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_menu.jpg) left center;}
.menu_rub3 .cache a.on {background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_hover_menu.jpg) left repeat-y;}
.menu_rub3 ul.menulist {background: none; border: 0; list-style: none; z-index: 500; margin: 0; padding: 0; line-height: 1.2em}
.menu_rub3 ul.menulist li {position: relative; margin: 0; padding: 0; border-bottom: 1px solid #b7cf7a;}
.menu_rub3 ul.menulist a {
	display: block; text-decoration: none; padding: 5px;
	color: #5b7a36; 
	background: #f5E3BF url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_menu.jpg) left center;}
.menu_rub3 ul.menulist a:hover {
	background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_hover_menu.jpg) left repeat-y;
	color: #6B4F2E;}
.menu_rub3 ul.menulist a.on {
	background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_hover_menu.jpg) left repeat-y;
	color: #6B4F2E;}

/* Bloc de menus des raccourcis de navigation*/
.nav2 {font-size: 1.2em; width: 178px;border: 1px solid #FFFFFF;}
.nav2 ul {padding: 5px 0; margin: 0}
.nav2 li {
	list-style: none; margin: 5px 10px; line-height: 1.4em;
	background: #f5E3BF url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_menu.jpg) left center;
	 border: #b7cf7a solid 1px;
	 color: #5b7a36;}
.raccourci_nav1 {text-align: center;}
.raccourci_nav1 a {display: block; width: 100%; color: #5b7a36;}
.raccourci_nav1 a:hover {
	text-decoration: none; 
	background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_hover_menu.jpg) left repeat-y;
	 color: #6B4F2E;}
.nav2 .auteur {margin: 7px 10px; padding-top: 3px; padding-bottom: 2px; text-align: center;	background: transparent; border: 0;}

/* Menu horizontal dans le bandeau bas */
 
	

 
	

.menu_horiz{font-size:1.2em;
	 width: 1200px;
	
	  margin: 0 auto 0;
	 min-height: 50px;
}
.menu_horiz, .menu_horiz ul {list-style: none; line-height: 1; padding: 0;
	 min-height: 50px;
}
.menu_horiz ul{width:100%; margin: 0; float: left;}

.menu_horiz a {display: block; text-decoration: none; padding: 5px 10px;
	 color: #6B4F2E;
	 border-left: transparent solid 1px;
	 text-align: center;
}
.menu_horiz a#mh_n1 {border-left: none;}
.menu_horiz a.it_n1 { border-top: transparent solid 1px;}
.menu_horiz a.pere { background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/arrow_from_left.gif) center right no-repeat; background-position: 142px;}
.menu_horiz a.pere:hover { background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/arrow_from_top.gif) center right no-repeat; background-position: 139px;}
.menu_horiz a:hover { text-decoration: none; color: #BE420D;}

.menu_horiz li {float: left; padding: 0; width: 150px;
	background: transparent right center no-repeat;}
.menu_horiz li ul {position: absolute; left: -999em; height: auto; font-weight: normal;	margin: 0;	padding: 0; z-index:2;
	width: 160px;
}
.menu_horiz li li {padding: 0 ; overflow : hidden;
   border-right: transparent solid 1px;
  border-left: none;
  clear:left;
  }

.menu_horiz li ul ul {margin: -51px 0 0 150px;}
.menu_horiz li:hover ul ul, .menu_horiz li:hover ul ul ul, .menu_horiz li:hover ul ul ul ul,
.menu_horiz li.sfhover ul ul, .menu_horiz li.sfhover ul ul ul, .menu_horiz li.sfhover ul ul ul ul {left: -999em;}
.menu_horiz li:hover ul, 
.menu_horiz li li:hover ul, 
.menu_horiz li li li:hover ul,
.menu_horiz li li li li:hover ul {left: auto;}
.menu_horiz li.sfhover ul {left:auto;}
.menu_horiz li li.sfhover ul,
.menu_horiz li li li.sfhover ul,
.menu_horiz li li li li.sfhover ul {left: auto;}
.menu_horiz li:hover,
.menu_horiz li.sfhover {background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_hover_menu_horiz.png) right center no-repeat;}
.menu_horiz li li a, .menu_horiz li li li a { border-bottom: transparent solid 1px;}/* ELEMENTS.CSS                                                         */
/* Cette feuille contient:                                              */
/* - les styles de la partie centrale du site                           */
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* 	Styles des titres de page                                           */
/* -------------------------------------------------------------------- */
/* Titre generique */
.titre h1 {font-weight: bold; margin: 0 0 5px; padding-bottom: 5px;
	color: #5b7a36;
	border-bottom: 2px solid #5b7a36;}
	
/* Boutons de fonction positionnes a droite du titre */
a.fonction {display: block; float: right; width: 24px; height: 24px; margin-left: 10px;}
a.fonction.repondre_commentaire {width: 16px; height: 16px; margin-right: 0; background-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/commentaire_repondre.gif); background-repeat: no-repeat;}
#commenter {background-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/article_commenter.gif); background-repeat: no-repeat;}
#verrouiller {background-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/forum_sujet_verrouiller.gif); background-repeat: no-repeat;}
#deverrouiller {background-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/forum_sujet_deverrouiller.gif); background-repeat: no-repeat;}
#deresoudre {background-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/forum_sujet_non_resolu.gif); background-repeat: no-repeat;}
#resoudre {background-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/forum_sujet_resolu.gif); background-repeat: no-repeat;}
#signer {background-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/article_commenter.gif); background-repeat: no-repeat;}
#creer_pdf {background-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/article_pdf.gif); background-repeat: no-repeat;}
#voir_commentaires {background-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/article_commentaires.gif); background-repeat: no-repeat;}
#voir_signatures {background-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/article_signatures.gif); background-repeat: no-repeat;}
#recommander {background-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/article_recommander.gif); background-repeat: no-repeat;}
a.fonction.revenir_haut_page {background-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/arrow_to_top.gif); background-repeat: no-repeat;}

/* -------------------------------------------------------------------- */
/* 	Styles du cartouche (auteurs, date, popularite, notation)           */
/* -------------------------------------------------------------------- */
.cartouche { font-weight: normal; font-size: 1.1em; line-height: 1.1em; text-align: right; margin: 0 0 30px 10px; padding: 0; float: right;
	color: #5b7a36;}
.complements {font-weight: normal; margin: 10px 0 5px; font-size: 1.1em;}

/* -------------------------------------------------------------------- */
/* 	Styles de la description (champs editoriaux)                        */
/* -------------------------------------------------------------------- */
/* Styles generiques */
.description {margin: 10px 0 30px; font-size: 1.2em; line-height: 1em;}
.description li {margin-left: 10px;	line-height: 1.4em;}
.description p {font-size: 1em;}
.description .soustitre {float: none; line-height: 1em; font-size: 1.4em; font-weight: bold; font-style: italic; margin: 0; padding: 0;
	 color: #5b7a36;}
.description .chapo {margin: 0 0 30px; font-style: italic; color: #5b7a36;}
.description .texte {}
.description .lien_site {margin: 10px 0 20px; padding-top: 10px; font-size: 1em; 
	border-top: 1px dotted #5b7a36;}
.description .ps {margin: 10px 0 20px; padding-top: 10px; font-size: 1em; 
	border-top: 1px dotted #5b7a36;}
.description .notes {margin: 10px 0 20px; padding-top: 10px; font-size: 1em; 
	border-top: 1px dotted #5b7a36;}
.description .filles {margin: 10px 0 20px; padding-top: 10px; font-size: 1em; 
	border-top: 1px dotted #5b7a36;}
.description .filles a {padding: 0 0 0 15px; background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/puce0.jpg) left center no-repeat; text-decoration: none;}
.description .filles a:hover {background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/puce1.jpg) left center no-repeat; ;text-decoration: none;}
 
/* -------------------------------------------------------------------- */
/* 	Styles des messages d'avertissement                                 */
/* -------------------------------------------------------------------- */
.avertissement {margin-top: 20px; padding: 10px; background: #f0d0d0; border: 1px solid red; font-size: 1.2em;}
.forum .avertissement {font-size: 1em;}
.formulaire_spip .avertissement {margin: 0 0 20px 0; padding: 10px; background: #f0d0d0; border: 1px solid red; font-size: 1em;}

/* -------------------------------------------------------------------- */
/* 	Styles des blocs type portfolio (images, documents joints, breves)  */
/* -------------------------------------------------------------------- */
/* Styles generiques */
.portfolio {clear: both; margin-bottom: 30px; padding-top: 2px;width:100%;}
.portfolio h2 {font-size: 1.9em; line-height: 1em; font-weight: bold; margin: 0 0 10px; padding: 0 0 5px 20px;
	color: #5b7a36;
	border-bottom: 2px solid #5b7a36;}
	
/* Portfolio des images jointes */
.portfolio a img {margin: 10px 10px; border: 4px solid #C39F73;}
.portfolio a:hover img {border-color: #b7cf7a;}

/* Portfolio des documents jointes */
.portfolio dl {width: 115px; height: 11em; text-align: center; margin: 10px; float: left;}
.portfolio dt {width: 115px; font-weight: bold;}
.portfolio dt a img {border: 0;}
.portfolio dt a:hover img {border: 0;}
.portfolio dd {width: 115px; margin: 0; padding: 0;}

/* -------------------------------------------------------------------- */
/* 	Styles des blocs de type commentaires                               */
/* -------------------------------------------------------------------- */
.commentaires {padding: 0 0 10px 0; margin: 0 0 30px 0; clear: both;}
.commentaires h2 {font-size: 1.9em; line-height: 1.2em; font-weight: bold; padding: 0 0 5px 20px; margin: 0;
	background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/commentaires.gif) top left no-repeat;
	color: #C39F73;
	border-bottom: 2px solid #C39F73;}
.commentaires h2.date {margin-top:30px; padding: 0 0 5px 20px;background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/liste_syndics.gif) top left no-repeat;}
.commentaires .message {margin: 0; padding: 10px 0 10px;
	background: #e2ebd6;
	border-top: 1px dotted #6B4F2E;}
.commentaires .message:hover {background: #cad6a6;}
.commentaires #co_n1.message,.commentaires .co_n1 {border-top: 0; padding: 20px 0 10px;}
.commentaires .message .titre {font-size: 1.2em; font-weight:bold; margin:0 0 10px 50px;}
.commentaires .message .gravatar {float:left}
.commentaires .message .cartouche_simple {margin-left: 50px; font-size: 1.1em;
	color: #C39F73;}
.commentaires .message .texte{margin-left : 50px; padding-top: 5px;font-size:1.2em;line-height:1.1em;}
.commentaires .message .texte ul li{border-top:none;}
.commentaires ul { line-height: 1.1em;}
.commentaires ul#exif {width:50%;margin : 0 auto;text-align:center;border:1px dotted;}
.commentaires li {padding:10px 0; height:auto; border-top: 1px dotted #6B4F2E;}
.commentaires li:hover {background: #cad6a6;}
.commentaires a.titre{padding-top: 5px; margin: 0; font-size: 1.3em; font-weight: bold; line-height:1em; text-decoration: none;
	color: #C39F73;}
.commentaires li .cartouche{margin : 0 0 10px 10px; font-size: 1.1em;}
.commentaires li .complements{font-size: 1.1em;}

/* Styles specifiques de la presentation hierarchique par fils */
.commentaires .message .cartouche_simple .titre {margin-left: 0;}
.commentaires .message.fil {padding-left: 50px;}

/* -------------------------------------------------------------------- */
/* 	Styles des blocs de type extraits                                   */
/* -------------------------------------------------------------------- */
.extrait {margin: 0 0 20px;	padding: 0 0 10px 15px;
	background: #e2ebd6;
	border-left: 5px solid #d2d9bf;
	border-bottom: 1px solid #d2d9bf;}
.extrait h3 a.titre {display: block; padding-top: 5px; margin: 0; font-size: 1.6em; font-weight: bold; line-height:1em; text-decoration: none;
	color: #5b7a36;}
.extrait h3 a.titre:hover {color: #6B4F2E; text-decoration: underline;}
.extrait .cartouche {color: #5b7a36;}
.extrait .lire_suite {text-align: left; margin: 10px 0 0; font-size: 1.1em;}
.extrait .cartouche a, .extrait .complements a  {color: #C39F73; text-decoration: none;}
.extrait .lire_suite a {padding: 0 0 5px 20px; background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/lire_suite.gif) left center no-repeat;
	color: #C39F73; text-decoration: none;}
.extrait .cartouche a:hover, .extrait .complements a:hover, .extrait .lire_suite a:hover {
	color: #b7cf7a; text-decoration: underline;}
.extrait .introduction {margin: 10px 0 0; font-size:1.2em; line-height : 1.4em;}

/* -------------------------------------------------------------------- */
/* 	Styles des blocs de type arbre (plan, agenda)                       */
/* -------------------------------------------------------------------- */
.arbre {margin: 0; padding-bottom: 10px;}
.arbre ul { list-style-type: none; padding: 0; margin: 0; font-size: 1em; line-height: 1em;}
.arbre ul li {font-weight: bold; padding: 5px 10px 10px; margin: 0 0 15px; 
	border: 2px solid transparent;
	background: transparent;}
.arbre ul li li {padding: 0 0 0 15px; margin: 0; border: 0; background: none;}
.arbre ul li li li {padding: 0 0 0 15px; margin: 0; border: 0; background: none;}
.arbre .noeud {padding: 5px 0 5px 15px; font-size: 1.5em; line-height: 1.4em; text-decoration: none;
	color: #5b7a36;}
.arbre a.noeud:hover {background-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/puce0.jpg); background-position: left center; background-repeat: no-repeat; 
	color: #6B4F2E;
	text-decoration: none;}
.arbre a.feuille {padding: 0 0 0 15px; font-size: 1.1em; font-weight: normal; line-height: 1.2em;
	color: #C39F73;}
.arbre a.feuille:hover {background-image: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/puce-n0.gif); background-position: left center; background-repeat: no-repeat; 
	color: #b7cf7a;
	text-decoration: underline;}
.arbre a.feuille .date {}

/* -------------------------------------------------------------------- */
/* 	Styles des blocs de type planches                                   */
/* -------------------------------------------------------------------- */
.planche {margin-top: 30px;}
.planche h2 {font-size: 1.9em; line-height: 1em; font-weight: bold; margin: 0 0 10px; padding: 0 0 5px 20px;
	color: #5b7a36;
	border-bottom: 2px solid #5b7a36;}
.planche ul {margin: 0; padding: 0; list-style-type: none;}
.planche li {width: 45%; min-height: 18em; float: left; margin: 0 0 20px; padding: 10px 0;
	background: #e2ebd6;
	border-top: 1px dotted #6B4F2E;}
.planche li.n1 {border-top: 0;}
.planche li.gauche {margin-right: 20px;}
.planche li.droite {margin-left: 20px; float: right;}
.planche h3 a.titre {display: block; padding-top: 5px; margin: 0; font-size: 1.6em; font-weight: bold; line-height:1em; text-decoration: none;
	color: #5b7a36;}
.planche h3 a.titre:hover {color: #6B4F2E; text-decoration: underline;}
.planche .complements {font-weight: normal; margin: 10px 0 5px; font-size: 1.1em;}
.planche .cartouche {text-align: left; margin: 0; float: none;}
.planche .cartouche a, .planche .complements a  {color: #6B4F2E; text-decoration: none;}
.planche .cartouche a:hover, .planche .complements a:hover {
	color: #BE420D; text-decoration: underline;}
.planche a img {float:right; margin: 0 0 5px 5px; border: 4px solid  #C39F73;}
.planche a:hover img {border: 4px solid #b7cf7a;}
.planche .introduction {margin: 10px 0 0;font-size:1.2em;line-height:1.4em;}

/* -------------------------------------------------------------------- */
/* 	Styles specifiques a chaque page                                    */
/* -------------------------------------------------------------------- */
/* Style specifique a la notation (plugin Notation) */
.description .plugin {margin: 10px 0 0; padding-top: 10px; font-size: 1em; line-height: 1.6em; 
	border-top: 1px dotted #5b7a36;
	color: #5b7a36;}
.description .notation div.star-rating a {border: 0; text-align: left;}
.description .notation .note { color: #5b7a36;}

/* Style specifique aux bookmarks sur les reseaux sociaux (plugin Social Tags) */
.description .socialtags {margin: 0; padding: 0;}

/* Titres de blocs */
#images_jointes.portfolio h2 {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/portfolio_images.gif) top left no-repeat;}
#documents_joints.portfolio h2 {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/portfolio_documents.gif) top left no-repeat;}
#articles_recents.portfolio h2,
#article_commentaire.portfolio h2,
#articles_auteur.portfolio h2,
#articles_rubrique.portfolio h2 {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/liste_articles.gif) top left no-repeat;}
#breves_site.commentaires h2 {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/liste_breves.gif) top left no-repeat;}
#sites_site.portfolio h2 {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/liste_sites.gif) top left no-repeat;}
.portfolio h2.jalon {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/liste_tickets.gif) top left no-repeat;}

/* Page rubrique */
.rubrique {margin: 0; padding-bottom: 10px;}
.rubrique .titre {}
.rubrique .titre h1 {margin: 0 0 35px;}

/* Page article */
.article {margin: 0; padding-bottom: 10px;}
.article .cartouche {font-size: 0.92em}

/* -- Styles des petitions de l'article */
#signatures.commentaires h2 {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/liste_signatures.gif) top left no-repeat;}
#signatures.commentaires table{width: 100%; margin-top: 10px; font-size: 1.2em;}

/* Page sommaire */
/* -- Edito et une */
#edito.article, #une.article {margin: 0 0 30px; padding: 5px 10px; text-align: justify;}
#edito.article {
	border: 2px solid #ffffff;
	background: #f5E3BF;}
#une.article {
	border: 2px solid #FFFFFF;
	background: #e2ebd6 url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/bg_une.png) center bottom no-repeat;}
#edito.article .titre, #edito.article .soustitre, #une.article .titre, #une.article .soustitre {}
#edito.article .titre h1, #une.article .titre h1 {border: 0;}
#edito.article a.fonction, #une.article a.fonction {display: none;}
#edito.article .cartouche, #une.article .cartouche {font-size: 1.2em}
#une.article .complements {font-size: 0.91em; margin-bottom: 10px;}

/* -- Albums recents */
#albums_recents.planche h2,
#albums_auteur.planche h2 {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/liste_albums.gif) top left no-repeat;}
#albums_recents.planche li,
#albums_auteur.planche li {
	 min-height: 18em;
	}

/* Page evenement */
#evenement.article .cartouche {text-align: left; float: left; margin: 0 10px 30px 0;}

/* Page auteur */
.auteur {margin: 0; padding-bottom: 10px;}
#albums_auteur.planche li {}

/* Page site */
.site {margin: 0; padding-bottom: 10px;}

/* -- Thumbshot du site */
.site a img {margin: 0 0 10px 10px; border: 4px solid #C39F73;}
.site a:hover img{border-color: #b7cf7a;}

/* -- Liste des articles syndiques */
#articles_syndiques.commentaires h2 {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/liste_syndics.gif) top left no-repeat;}
#articles_syndiques.commentaires .titre {margin: 0;}
#articles_syndiques.commentaires .texte{margin: 5px 0 0;}
.site .description li {margin-left: 0; margin-bottom: 10px;}
.site .description li:hover {background:#cad6a6;}

/* Page galerie */
.galerie {margin: 0; padding-bottom: 10px;width:100%;}
.galerie .planche li {}

/* Page Herbier */
.herbier {margin: 0; padding-bottom: 10px;width:100%;}
.herbier .planche li {width: 100%; min-height: 0;}

/* Page Recherche */
.recherche {margin: 0; padding-bottom: 10px; width:100%;}
#recherche_rubrique.commentaires h2 {margin:0; background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/portfolio_documents.gif) top left no-repeat;}
#recherche_mot_article.commentaires h2 {margin:0; background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/liste_breves.gif) top left no-repeat;}
#recherche_breve.commentaires h2 {margin:0; background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/liste_breves.gif) top left no-repeat;}
#recherche_site.commentaires h2 {margin:0; background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/liste_sites.gif) top left no-repeat;}
#recherche_commentaire.commentaires h2 {margin:0; background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/commentaires.gif) top left no-repeat;}
#recherche_article.commentaires h2 {margin:0; background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/liste_articles.gif) top left no-repeat;}
#recherche_album.commentaires h2 {margin:0; background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/portfolio_images.gif) top left no-repeat;}
#recherche_evenement.commentaires h2 {margin:0; background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/theme_sarka_ecology/v0.2.0/images/evenement.gif) top left no-repeat;}

/* Page album */
.album {padding: 0 0 10px 0; margin: 0 0 30px 0; clear: both; width:100%;}
.carrousel {display: block; margin: 0 0 20px; padding: 10px 0}
#a_defilement.carrousel {overflow: hidden; position: relative;}
.carrousel .contenu {margin: 0 auto; position: relative;}
#a_pagination.carrousel .contenu li {display: block; float: left;}
.carrousel .contenu .vignette a img {margin-right: 5px; border: 4px solid #C39F73;}
.carrousel .contenu .vignette a:hover img {border: 4px solid #6B4F2E;}
.carrousel .contenu .vignette a.survol {display:none;position:absolute;background: transparent url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/pointeur_bas.gif) no-repeat bottom center;}
.carrousel .contenu .vignette a.survol img {margin: 0; border: 4px solid #6B4F2E;}
.carrousel .navigation {margin: 10px 0 20px; text-align: center; font-size: 1.2em; font-weight: bold;}
.carrousel .navigation a {background: transparent; 
	color: #2e4d28;}
.carrousel .navigation a:hover {background: #6B4F2E; 
	color: #5b7a36;
	text-decoration: none;}
.carrousel .pagination {margin: 10px 0 20px; text-align: center; font-weight: bold;}

.carrousel .contenu ul.vignettes span {width: 128px;}/* max thumbnail width + 2px */
.carrousel .contenu ul.vignettes span.wrap1 {margin: 0 5px 5px 5px; display: inline-block; vertical-align: top; text-align: center;}
.carrousel .contenu ul.vignettes span.wrap2 {height: 136px; 
	background: #e2ebd6;
	border: 4px solid #C39F73; display: table-cell; vertical-align: middle;}
.carrousel .contenu ul.vignettes span.wrap2:hover {
	background: #cad6a6; 
	border: 4px solid #6B4F2E;}
.carrousel .contenu ul.vignettes span.wrap2 a {display: block; width: 128px;}      /* max thumbnail width + 2px */
.carrousel .contenu ul.vignettes span.titre {
	display: block;  
	height: 4em;    
	padding-top: 5px;
	font-size: 90%; overflow: hidden;
	margin-left:auto;
	margin-right:auto;
	line-height : 1.2em;}

.zoom {display: block; margin: 0 0 20px; padding: 10px 0;}
.zoom #conteneur_photo {padding:0; margin: 0 0 10px;}
.zoom #titre_photo {padding:0; margin: 0 0 20px; font-size: 1.2em; font-weight: bold; text-align: center;}
.zoom #descriptif_photo {padding:0; margin: 0 0 20px;}
.zoom #exif_photo {padding:0; margin: 0 0 20px;}

#exif_photo.commentaires table{width: 300px;  font-family: verdana; border: 0; margin :0 auto;}
#exif_photo.commentaires table tr{height: 20px;}
#exif_photo.commentaires table td.titre {background-color : #EFEFEF; padding: 0 5px; border-bottom : 1px dotted #000000; font-weight:bold;height: 20px;}
#exif_photo.commentaires table td.minilogo {text-align: right; height: 20px;}
#exif_photo.commentaires table td.colonne1{width: 130px; font-size: 90%; text-align: right; padding: 5px;}
#exif_photo.commentaires table td.colonne2{width: 170px;}

/* Page forum */
.forum {margin-bottom: 30px;}
.forum .groupe {margin-bottom: 20px;}
.forum .groupe h2.titre {
	padding: 10px 5px; 
	font-weight: bold; 
	font-size: 1.2em; 
	color: #ffffff; 
	border: 1px solid #6262a4;
	border-bottom: 0;
	background-color: #6262a4;}
.forum .groupe h2.titre a {	color: #ffffff;}
.forum .groupe h2.titre a:hover { color: #ffffff; text-decoration: underline;}
.forum .groupe .bord {border: 1px solid #6262a4;}
.forum .cartouche {font-size: 0.92em}
.forum .outils { clear: both; margin-bottom: 10px;}

#reponses.forum h2 {font-size: 1.9em; line-height: 1.2em; font-weight: bold; padding: 0 0 5px 20px; margin: 0;
	background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/reponses.gif) top left no-repeat;
	color: #6262a4;
	border-bottom: 2px solid #6262a4;}

.forum table {width: 100%; font-size: 1.2em; border-collapse: separate;}
.forum table th {
	padding: 10px 5px; 
	color: #6262a4; 
	background-color: #f0f0fa;}
	font-weight: bold;}
.forum table th.centre {text-align: center;}
.forum table tbody tr:hover {background: #f0f0fa;}
.forum table tr.row_odd {background: transparent; color: inherit}
.forum table tr.row_even {background: transparent; color: inherit}
.forum table td {padding: 10px 5px; vertical-align: top; line-height: 1.1em; border-top: 1px solid #6262a4;}
.forum table td.rp_n1 {border-top: 0;}
.forum table td.etat {width: 4%;}
.forum table td.etat.forumferme {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/forum_ferme.png) no-repeat center 10px;}
.forum table td.sujets, .forum table td.messages {text-align: center; width: 7%;}
.forum table td.dernier_message {text-align: left; width: 21%;}
.forum table td.dernier_message a.titre {font-style: italic;}
.forum table td.description {font-weight: bold; font-size: 1em;}
.forum table td.description h3.titre a {color: #6262a4; font-weight: bold;}
.forum table td.description h3.titre a:hover {text-decoration: underline;}
.forum table td.description .texte {font-weight: normal;}

.forum table tr#rp_n1 {border-top: 0;}
.forum .detail_auteur {width: 150px; background-color: #f0f0fa; vertical-align: top;}
.forum .premier_message {margin-left: 155px; padding: 0 5px;}
.forum .gravatar_pere {margin-right: 50px; float: left;}
.forum .gravatar {font-weight: bold;}
/* IE.CSS                                                               */
/* Cette feuille contient:                                              */
/* - tous les hacks necessaires a IE (version >= 6)                     */
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* raz.css                                                              */
/* -------------------------------------------------------------------- */
* html * {height:1; zoom:1}
* html .ajaxbloc, * html input, * html img, * html textarea, * html blockquote {height:auto;}
 
/* -------------------------------------------------------------------- */
/* layoutxx.css                                                         */
/* -------------------------------------------------------------------- */


/* -------------------------------------------------------------------- */
/* base.css                                                             */
/* -------------------------------------------------------------------- */
* html .spip_code, * html .spip_cadre {height:auto; width:90%;}
* html blockquote.spip_poesie div {text-indent:0;}

* html .formulaire_recherche input{border-width:0; display:inline; background-color:#E0E0E0}
* html .formulaire_recherche input.text {height:23px; width:118px; border:1px solid #6262A4;}
* html .formulaire_recherche input.submit {border: 0;}
*+html .formulaire_recherche input.submit {float : right;}

/* -------------------------------------------------------------------- */
/* layout.css                                                           */
/* -------------------------------------------------------------------- */
 
	
		
		  
	
	 
		* html div#content   {margin-right:10px ; }
		* html div#navigation{margin-left:10px ;}
		* html div#extra     {margin-left:10px ;}
	  


/* -------------------------------------------------------------------- */
/* bandeau.css                                                          */
/* -------------------------------------------------------------------- */
* html .bandeau_haut {height: 200px;} /* IE6 ne comprend pas min-height */
* html .nav_bandeau {width: 45%;} /* IE6 ne comprend pas max-width */
* html .bandeau_bas {height: 50px;}
* html .bandeau_chemin {height: 22px;}
* html .bandeau_chemin .recherche_chemin {float: right ; width:330px;}
*+html .bandeau_chemin .recherche_chemin {float: right ; width:330px;}

* html .pied_bas {height: 50px;}

/* -------------------------------------------------------------------- */
/* noisettes.css                                                        */
/* -------------------------------------------------------------------- */
* html #noisette_herbier.noisette .contenu .texte ul.innerfade li {margin-left:-60px;}
*+html #noisette_herbier.noisette .contenu .texte ul.innerfade li {margin-left:-60px;}

* html #noisette_miniagenda.noisette {height:auto;}
* html #noisette_miniagenda.noisette .contenu {width:178px;}
* html #noisette_miniagenda.noisette .contenu br.nettoyeur {line-height : 0;} /* Sous IE6 ce nettoyeur a une hauteur non nulle */
* html #noisette_miniagenda.noisette .contenu h2 {float:left;}
* html #noisette_miniagenda.noisette .contenu h2.titre_bloc.centre {width: 90px;}
* html #noisette_miniagenda.noisette .contenu h2 a.titre_bloc.bord {width: 44px;}
* html #noisette_miniagenda.noisette .contenu h2 a.titre_bloc#auj {border:none; width: 100%;}

* html .menu_rub1 ul.menulist ul {top: 0; left: 173px;}
*+html .menu_rub1 ul.menulist ul {top: 0;} 

/* -------------------------------------------------------------------- */
/* elements.css                                                         */
/* -------------------------------------------------------------------- */
* html .planche .cartouche {width :140px; float:none;}
* html .planche li {height: 0;}
* html .galerie .planche li {  height: 18em;}
* html #albums_recents.planche li {  height: 18em;}

* html .carrousel .contenu ul.vignettes span.wrap2 {display: inline-block; text-align: left;}
* html .carrousel .contenu ul.vignettes span.wrap2 a {overflow: visible;  top: 50%; text-align: center;}
* html .carrousel .contenu ul.vignettes span.wrap2 span {overflow: visible;  top: 50%; text-align: center;}
* html .carrousel .contenu ul.vignettes img {margin-top: 10px;  top: -30%; }
*+html .carrousel .contenu ul.vignettes span.wrap2 {display: block; position: relative; text-align: left;}
*+html .carrousel .contenu ul.vignettes span.wrap2 a {overflow: visible; position: absolute; top: 50%; text-align: center;}
*+html .carrousel .contenu ul.vignettes span.wrap2 span {overflow: visible; position: absolute; top: 50%; text-align: center;}
*+html .carrousel .contenu ul.vignettes img {position: relative; top: -50%;  margin-top: 2%;}
 
  /* Styles specifiques pour le badge perso */
.noisette .badges a {display: block; margin: 10px 0; padding: 0; border: 0; width: 165px; height: 66px; }
.noisette .badges a:hover {text-decoration: none;}
#logo_rss {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/badge_rss.png) no-repeat;}
#logo_rss:hover {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/badge_rss_hover.png) no-repeat;}
#logo_sarkaspip {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/badge_sarkaspip.png) no-repeat;}
#logo_sarkaspip:hover {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/badge_sarkaspip_hover.png) no-repeat;}
#logo_spip {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/squelettes/images/badge_spip.png) no-repeat;}
#logo_spip:hover {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/squelettes/images/badge_spip_hover.png) no-repeat;}
#logo_xhtml {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/badge_xhtml.png) no-repeat;}
#logo_xhtml:hover {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/plugins/auto/sarkaspip/v3.2.32/images/badge_xhtml_hover.png) no-repeat;}
#logo_perso {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/squelettes/images/badge_perso.png) no-repeat;}
#logo_perso:hover {background: url(/web/20161201082630im_/http://www.ac-grenoble.fr/lycee/vincent.indy/squelettes/images/badge_perso_hover.png) no-repeat;}

/*
     FILE ARCHIVED ON 08:26:30 Dec 01, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:21:22 Oct 07, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 49.236 (3)
  esindex: 0.013
  captures_list: 73.043
  CDXLines.iter: 18.524 (3)
  PetaboxLoader3.datanode: 364.086 (5)
  exclusion.robots: 0.263
  exclusion.robots.policy: 0.247
  RedisCDXSource: 0.641
  PetaboxLoader3.resolve: 53.401 (2)
  load_resource: 400.758
*/