/* RAZ.CSS                                                              */
/* Cette feuille contient:                                              */
/* - une raz de tous les styles pour uniformiser les navigateurs        */
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* Correction des styles par defaut / mise a zero multinavigateurs      */
/* -------------------------------------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
ol,ul,li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
q:before,q:after { content:''; }
abbr,acronym { border: 0; }
ins { text-decoration: none; }
/*
     FILE ARCHIVED ON 02:58:22 Dec 01, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:44:28 Oct 08, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 43.812 (3)
  esindex: 0.01
  captures_list: 64.769
  CDXLines.iter: 15.589 (3)
  PetaboxLoader3.datanode: 82.369 (5)
  exclusion.robots: 0.273
  exclusion.robots.policy: 0.257
  RedisCDXSource: 0.735
  PetaboxLoader3.resolve: 84.066 (2)
  load_resource: 169.95
*/